DEPLOY_VERSION={{ deploy_version }}

ECR_WORDPRESS_URL={{ ecr_wordpress_url }}
ECR_NGINX_URL={{ ecr_nginx_url }}

APP_SCHEMA={{ app_schema }}
APP_FRONTEND_PORT={{ app_frontend_port }}

RDS_ENDPOINT={{ rds_endpoint }}
RDS_DB_NAME={{ rds_db_name }}
RDS_USERNAME={{ rds_username }}
RDS_PASSWORD={{ rds_password }}

ALIAS_RECORD={{ alias_record }}
WP_ENV={{ wp_env }}
SITE_TITLE={{ site_title }}
ADMIN_USER={{ admin_user }}
ADMIN_PASS={{ admin_pass }}
ADMIN_EMAIL={{ admin_email }}
